.flex-row.full-width.full-height
    .content-login-form
        p formulario
        //- mat-card.card-login
        //-     mat-card-header
        //-         div Title
        //-     mat-card-content
        //-         div contenido
        //-     mat-card-actions
        //-         button(mat-button) Recuperar contaseña
        //-         button(mat-button) Login

    .content-login-view
        div Foto