.content-login-form {
    flex-grow: 1;
    height: 100%;
    background-color: pink;
}

.content-login-view {
    background-color: aqua;
    flex-grow: 2;
    height: 100%;
}

.card-login {
    width: 350px;
    height: 436px;
    margin: auto;
}