mat-sidenav-container(class="drawer-container", (backdropClick)="close('backdrop')")
    mat-sidenav.side-nav(#sidenav, [fixedInViewport]="true")
        cs-user-permission
    mat-sidenav-content
        cs-header
        .container-body
            router-outlet