/* ==========================================================================
	 Variables
========================================================================== */
$twitter: #869aa5 ;
$mtl_gray: #7f7f7f;
$primary :#0d4885;
$secondary :#9749FF;
$light: #fff;
$muted:rgba(0,0,0, .1);
$dark:#757575;
$dark-green :#3b938b;
$green:#43ACA1;
$orange:#FFC324;
$yellow_orange: #FFB106;
$red:#FF3504;
$gray:#898989;
$bsc:#455a64;
$bsc2:#FBC02D;
$tesoreria: #00796B;
$tsr2: #ff9100;
$enroll: #3949AB;
$enroll2: #FF4081;
$notas: #00BCD4;
$prog:#2962FF;
$prog2:#ff4081;
$plan: #7b1fa2;
$plan2: #00E676;
$rrhh: #689F38;
$rrhh2: #7C45FF;
$light_2: #FAFAFA;
$store: #8BC34A;
$imple: #8BC34A;
$imple2: #7C45FF;
$grad:#03a9f4;
$grad2: #e91e63;
$plans: #69F0AE;
//register theme
$red1: #F44336;
$red2: #F44336;
$cyan1: #00bcd4;
$cyan2: #00bcd4;
$pink1: #E91E63;
$pink2: #E91E63;
$lblue1: #03A9F4;
$lblue2: #03A9F4;
$purple1: #9C27B0;
$purple2: #9C27B0;
$green1: #4CAF50;
$green2: #4CAF50;
$orange1: #FF9800;
$orange2: #FF9800;
$yellow1: #FFD600;
$yellow2: #FFD600;
$brown1: #795548;
$brown2: #795548;
$indigo1: #3F51B5;
$indigo2: #3F51B5;
$teal1: #009688;
$teal2: #009688;
$blue1: #2196F3;
$blue2: #2196F3;
$cherry1: #880E4F;
$cherry2: #880E4F;
$bgray1: #546E7A;
$bgray2: #546E7A;
$lila1: #EA80FC;
$lila2: #EA80FC;
$blacks1: #212121;
$blacks2: #212121;
$gray1: #9E9E9E;
$black: #303030;
//$black2: #9E9E9E;
$black2: #424242;
$gray2: #C4C8D1;


//color class
.gray{
    color: $gray!important;
}

.white{
    color: $light!important;
}

.black{
    color:$black;
}

